<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Doesn't exist yet</title>


    <!--internal changes for CSS-->
    <style>
    </style>
</head>
<body>
    <div id="container">
        <div id="content">
            <!--Navigation bar-->
            <div id="nav">
                <div id="home"><a href="/"><img src="" alt="home button"></a></div>
                <div class="nav-item"><a href="/about">About Us</a></div>
                <div class="nav-item"><a href="/resources">resource</a></div>
                <div class="nav-item"><a href="/apps">GET APP</a></div>
            </div>

            <div id="webapp404">
                <h1>404 - Doesn't exist</h1>
                <p>Maybe not now. We're working on this part. Sorry gotta go back</p>
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>