<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>About us</title>
</head>
<body>
    <div id="container">
        <div id="content">
            <!--Navigation Bar-->
            <div id="nav">
                <div id="home"><a href="/"><img src="" alt="home button"></a></div>
                <div class="nav-item"><a href="/about">About Us</a></div>
                <div class="nav-item"><a href="/resources">resource</a></div>
                <div class="nav-item"><a href="/apps">GET APP</a></div>
            </div>
            <div id="banner">
                <img src="" alt="Image 1" class="img">
                <img src="" alt="Image 2" class="img">
                <img src="" alt="Image 3" class="img">
            </div>

            <!--content began here-->
            <div class="hero-card" id="introduction">
                <h2>Hello, I'm Zulfaqar</h2>
                <div class="column-grid">
                    <p>
                        Zulfaqar is a secondary school boy who struggled with the PSLE. He found school very stressful. <br />
                        After the PSLE, he created a vision called "project0." He is passionate about computer science and programming. <br />
                        <a href="https://zulfaqartinycard.mmm.page/">Click here </a> to learn more about his side of the story.
                    </p>
                    <img src="" alt="profile potrait">
                </div>
            </div>

            <div class="hero-card" id="app">
                <h2>Why we develop this web app?</h2>
                <p>
                    As technology growing and more school introducing PLD. <br />
                    We want to introduce student to digital learning and educate them. <br />
                    Approxiate of <span id="internet-singapore"></span> user register in the internet. Approxiate of <span id="student-pld"></span> are students!
                </p>
                <a href="/apps">Explore here</a>
            </div>

            <div class="hero-card">
                <h2>Our social media's!</h2>
                <a href="https://instagram.com/projectzero_sg">instagram:@projectzero_sg</a>
                <a href="https:/t.me/ProjectZeroSG">telegram</a>
                <a href="https://www.facebook.com/profile.php?id=61554161746920">facebook</a>
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>