<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>home</title>
</head>

<body>
  <div id="container">

    <div id="content">

      <!--Navigation bar-->
      <div id="nav">
        <div id="home"><a href="/"><img src="" alt="home button"></a></div>
        <div class="nav-item"><a href="/about">About Us</a></div>
        <div class="nav-item"><a href="/resources">resource</a></div>
        <div class="nav-item"><a href="/apps">GET APP</a></div>
      </div>
      <div id="banner">
        <img src="" alt="Image 1" class="img">
        <img src="" alt="Image 2" class="img">
        <img src="" alt="Image 3" class="img">
      </div>

      <div class="hero-card">
        <!--About us-->
        <img src="" alt="About us" class="about">
        <p class="about">We are a group of youth from different secondary school and tenatry. <br />
          We form this group called "Project 0" to give back to our community in term of education. <br />
          We mostly focus on education system techniques on how to get the common goals to p2p and success.
        </p>
        <a href="/about">Learn More</a>
      </div>

      <!--About our App-->
      <div class="hero-card">
        <img src="" alt="Our App" class="app">
        <p class="app">
          We currently working on a app to developp student to be a digital learner. <br />
          check out our app that was made for this community project.
        </p>
        <a href="/app">Explore More</a>
      </div>

      <!--Team + career-->
      <div class="hero-card">
        <img src="" alt="Our team" class="career">
        <p class="career">
          As much as we would like to give back to the community. We would like other's to join the fun and our project family. <br />
          Learn more about us and our project family!
        </p>
        <button type="button" class="career">-no link yet-</button>
      </div>

      <div id="featuring">
        <!--Feature item 1-->
        <div class="item-feature">
          <img src="" alt="item 1" title="About feature 1">
          <p class="feature-header">Feature 1</p>
          <button type="button">...</button>
        </div>
  
        <!--Feature item 2-->
        <div class="item-feature">
          <img src="" alt="item 2" title="About feature 2">
          <p class="feature-header">Feature 2</p>
          <button type="button">...</button>
        </div>
  
        <!--Feature item 3-->
        <div class="item-feature">
          <img src="" alt="item 3" title="About feature 3">
          <p class="feature-header">Feature 3</p>
          <button type="button">...</button>
        </div>
  
        <!--Feature item 4-->
        <div class="item-feature">
          <img src="" alt="item 4" title="About feature 4">
          <p class="feature-header">Feature 4</p>
          <button type="button">...</button>
        </div>
  
        <!--Feature item 5-->
        <div class="item-feature">
          <img src="" alt="item 5" title="About feature 5">
          <p class="feature-header">Feature 5</p>
          <button type="button">...</button>
        </div>
      </div>
    </div>

    <div id="footer"></div>
  </div>

  <script src="/script.js"></script>
</body>
</html>